ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    margin-right: 5%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    text-decoration: underline;
}

.active {
    background-color: #4CAF50;
}

li.right {
    float: right;
    margin-right: 1%;
}

.wrapper  {
    display: grid;
}

.headshot {
    display: grid;
    grid-template-rows: 80% 20%;
    border: 1px dashed black;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

#navbar {
    list-style: none;
}

.image {
    border: dashed 2px black;
}

#navbarContainer {
    grid-area: navbarContainer;
}

#dynamicContent {
    margin-top: 50px;
    grid-area: dynamicContent;
    grid-row-gap: 50px;
    grid-template-areas: "pageContainer" "headshotContainer" "footerContainer";
    /*border: 2px solid black;*/
}

#pageContainer {
    grid-area: pageContainer;
    grid-template-areas: "pageText pageText pageText windowSpace windowSpace";
    width: 100%;
    height: 600px;
    border: 2px dotted red;
}

#text {
    grid-area: pageText;
    border: 2px dashed grey;
    padding: 10px;
    margin: 10px;

}

#windowSpace {
    grid-area: windowSpace;
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-right: 20px;
    width: 100%;
}

#headshotContainer {
    grid-area: headshotContainer;
    grid-template-columns: 1fr 1fr 1fr;
    height: 600px;
}

#footerContainer {
    grid-area: footerContainer;
    height: 300px;
    width: 100%;
    border: 2px dotted green;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { /*iPad Horizontal*/
} 

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { /*iPad Vertical*/
}

@media only screen and (min-width : 321px) { /*Smartphone Horizontal*/
}

@media only screen and (max-width : 320px) { /*smartphone Vertical*/
}
